<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>AppIcon.appiconset</string>
		<string>badges.imageset</string>
		<string>blankbg.imageset</string>
		<string>camera.imageset</string>
		<string>located.imageset</string>
		<string>location.imageset</string>
		<string>tag.imageset</string>
		<string>temperature.imageset</string>
		<string>time.imageset</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
